.App{
    font-family: Arial, Helvetica, sans-serif;
}

.color-blue{
    color: #007AAD ;
}

.box-user{
border: solid 3px #007AAD;
background-color: #EAF3FF;
}

.user-icon{
    font-size: 10rem;
    color: #9FB9DC;
    
}

.pen-icon{
   bottom: 15%;    
   background-color: #AD325D;
}

.user-container{
    top: 65%;
}

main{
    margin-top:6rem;}

